<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331955495435-lvcd6mttn8f273gsqg1dqrnscacg5r7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331955495435-lvcd6mttn8f273gsqg1dqrnscacg5r7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331955495435-5tc30jfolbsothckfekidpk0esah46dh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMC2HW2EpA7TUZyQOS45PrIauLe7gL2vo</string>
	<key>GCM_SENDER_ID</key>
	<string>331955495435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techWorld.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adventures-in-tech-world-0</string>
	<key>STORAGE_BUCKET</key>
	<string>adventures-in-tech-world-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331955495435:ios:9318b6c44fa75517765d0e</string>
</dict>
</plist>